@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0px;
    margin: 0px;
    font-family: Fira Sans;
}

body {
    background-color: #F1F1F3;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 160px;
    height: 100px;
}

.nav-head {
    font-size: 32px;
    color: #0E0E0E;
}

.nav-btn {
    height: 52px;
    width: 116px;
    font-size: 18px;
    font-weight: 600px;
    color: #006A50;
    background-color: transparent;
    border: 1px solid #006A50;
    border-radius: 8px;
}

.banner {
    height: 560px;
    width: 1160px;
    background-color: #C6E4D6;
    margin: 31px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 60px;
    border-radius: 24px;
}

.banner-img {
    height: 400px;
    width: 474px;
}

.banner-info {
    height: 326px;
    width: 622px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

#banner-header {
    font-size: 24px;
    font-weight: 500;
    color: rgba(14, 14, 14, 0.5);
}

#banner-writings {
    font-size: 56px;
    font-weight: 700px;
    color: #0E0E0E
}

.btn {
    background-color: #006A50;
    color: #FFFFFF;
    border: none;
    font-size: 18px;
    border-radius: 8px;
    font-weight: 600;
}

#banner-btn {
    height: 56px;
    width: 270px;
}

button {
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
}

button:hover {
    font-size: 20px;
    cursor: pointer
}

.pillar-section {
    margin: 49px auto 0px auto;
    height: 324px;
    width: 1280px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.pillar-card-container {
    display: flex;
    justify-content: center;
    gap: 24px
}

.pillar-card{
    background-color: #FFFFFF;
    height: 196px;
    width: 254px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 24px;
    border-radius: 16px;
    border: 1px solid rgba(14, 14, 14, 0.15);
}

#pillar-img, #vision-img {
    height: 64px;
    width: 64px;
}

#pillar-header {
    font-weight: 700;
    font-size: 40px;
}

.card-title {
    font-size: 20px;
    font-weight: 700;
    color: rgba(14, 14, 14, 0.8);
}
.card-writings {
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
}


/* Designing Vision Section  */
.vision-section{
    width: 1280px;
    height: 765px;
    margin: 80px auto 0px auto;
}

.vision-text-box {
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.vision-text-box > h1 {
    font-size: 40px;
    font-weight: 700px;
    color: rgba(14, 14, 14, 1);
}

.vision-text-box > p {
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
}

/* Designing Box container of vision  */
.vision-card-container {
    height: 325px;
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
}

.vision-card {
    height: 261px;
    width: 346px;
    padding: 32px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.vision-card > button {
    height: 41px;
    width: 122px;
} 

.vision-card > img {
    margin-bottom: 24px;
}

#vision-text {
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
    margin-top: 12px;
}

.card-text-container {
    height: 132px;
}
.card-text-container > h2 {
    font-size: 20px;
    color:rgba(14, 14, 14, 0.8)
}

#blue {
    background-color: rgba(84, 144, 245, 0.2);
} 

#green {
    background-color: #C6E4D6;
}

#yellow {
    background-color: #F7EBCF;
}

#blue > button {
    background-color: #5490F5;
}

#green > button {
    background-color: #09A15C;
}

#yellow > button {
    background-color: #FFC239;
}



/* designing the quote */
.quote {
    height: 160px;
    padding: 48px 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 32px;
    background-image: url("all-assets/assets/quote-bg.png");
    background-repeat: no-repeat;
    background-position: 24px 25px;

}

.quote-text {
    font-size: 16px;
    color:rgba(14, 14, 14, 0.8);
}


.quote-name > h1 {
    font-size: 20px;
    color: rgba(14, 14, 14, 0.8);
}

.quote-name > p {
    font-size: 16px;
    color: rgba(14, 14, 14, 0.6);
}


/* designing table section  */

.table-box {
    width: 1216px;
    height: 345px;
    background-color: white;
    border-radius: 16px;
    padding: 32px;
}


.table {
    height: 345px;
    width: 1216px;
}

.question {
    height: 20px;
    width: 1017px;
    border-left: 1px solid rgba(14, 14, 14, 0.15);
    border-right: 1px solid rgba(14, 14, 14, 0.15);
    border-bottom: 1px solid rgba(14, 14, 14, 0.15);
    padding: 36px 24px;
    
}

.opinion {
    height: 92px;
    width: 200px;
    border-left: 1px solid rgba(14, 14, 14, 0.15);
    border-right: 1px solid rgba(14, 14, 14, 0.15);
    border-bottom: 1px solid rgba(14, 14, 14, 0.15);
}

.row, .opinion {
    display: flex;
    justify-content: center;
    align-items: center;
}

select {
    padding: 10px 4px;
    height: 44px;
    width: 120px;
    background-color: rgba(198, 228, 214, 1);
    border: 2px solid rgba(14, 14, 14, 1);
    font-size: 16px;
}

.table-header {
    font-size: 20px;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    padding: 24px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    background-color: rgba(198, 228, 214, 1);
}

.opinion-section > h2 {
    font-size: 40px;
    color: #0E0E0E;
}

.opinion-section {
    height: 481px;
    width: 1280px;
    margin: 80px auto 0px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* styling news  */
.recent-news {
    height: 1406px;
    width: 1280px;
    margin: 80px auto 0px auto;
}

.news-head-para {
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 8px;
}

.news-head-para > h1, .donate-header {
    font-size: 40px;
}

.news-head-para > p, .news-text, .donate-text {
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
}

.news {
    height: 290px;
    width: 744px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.news-card {
    display: flex;
    justify-content: space-between;
    padding: 48px;
    margin-top: 24px;
    background-color: #FFFFFF;
    border-radius: 24px;
}

.news-image {
    height: 306px;
    width: 408px;
    border-radius: 24px;
}

.news-card-title {
    color: rgba(14, 14, 14, 0.8);
    font-size: 32px;
}

.news-text {
    height: 108px;
}

.news > img {
    height: 40px;
    width: 134px;
}

.news > button, #donate-button {
    height: 48px;
    width: 139px;
}

/* designing the donation  */
.donate-section {
    height: 464px;
    width: 1280px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0px 104px;
    margin: 80px auto 0px auto;
    text-align: center;
}
.input-box {
    width: 1032px;
}


.donation-container {
    height: 128px;
    width: 1071px;
    display: flex;
    justify-content: space-between;
}

.donation-card {
    background-color: #FFFFFF;
    padding: 40px;
    font-size: 40px;
    color:rgba(14, 14, 14, 0.8);
    font-weight: 700;
    border-radius: 16px;
    cursor: pointer;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
}

.donation-card:hover {
    background-color: #C6E4D6;
}

.input-box > input {
    width: 100%;
    height: 64px;
    border: none;
    text-align: center;
    font-size: 20px;
}
